{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="row">
    <div class="col-lg">
        <h1>Login</h1>
    </div>
    <div class="col-lg">
        <h1>Cadastro</h1>

        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}

            <div class="row">
                <div class="col">
                    <button type="submit" class='btn btn-primary btn-block btn-lg'>
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}